:root{
    --background-dark-mode:#232220;
    --background-dark-mode-lighter:#282828;
    --text-darkmode-color:#EEEEEE;
    --darkmode-gray-border: #363634;
    --primary-color:#FF6600;
}

.dark-mode{
    background-color: var(--background-dark-mode);
    color: var(--text-darkmode-color);
}

.header__search.dark-mode input{
    color: var(--text-darkmode-color) ;
}

.booking-content.dark-mode {
    background-color: transparent;
}

.booking-content.dark-mode h3{
    color: white;
}

.booking-content.dark-mode a{
    color: white;
}

.about.dark-mode .about__right-section p{
    color: var(--text-darkmode-color);
}

.header__search.dark-mode i{
    color: var(--text-darkmode-color);
}

.categories.dark-mode{
    background-color: var(--background-dark-mode-lighter);
}

.home-services.dark-mode  .services-item{
    border:1px solid var(--darkmode-gray-border);
    background-color: var(--background-dark-mode);
}

.home-services.dark-mode + div{
    display: none !important;
}

.home-services.dark-mode  .services-item .info p,
.home-services.dark-mode  .services-item .info h4 a{
    color: var(--text-darkmode-color);
}

.home-services.dark-mode  .services-item .info h4 a:hover{
    color:var(--primary-color) ;
}

.number-counter.dark-mode {
    background-color: transparent;
    background-image: -webkit-linear-gradient(top, transparent 70px,var(--background-dark-mode) 60px, var(--background-dark-mode) 100%);
}

.number-counter.dark-mode .counter-item {
    background-color: var(--background-dark-mode);
}

.number-counter.dark-mode .counter-item div,
.number-counter.dark-mode .counter-item p{
    color: var(--text-darkmode-color);
}

.video-food.dark-mode .video-img{
    background-color: var(--background-dark-mode);
}

.blogposts.dark-mode {
    background-color: var(--background-dark-mode-lighter);
}

.blogposts.dark-mode .card-body a,
.blogposts.dark-mode .card-body p{
    color: var(--text-darkmode-color);
}

.blogposts.dark-mode .card-body .p-footer > a:hover{
    color: var(--primary-color);
}

.clients.dark-mode .testimonial q,
.clients.dark-mode .testimonial p{
    color: var(--text-darkmode-color);
}

.footer-29-main.dark-mode{
    background-color: #000;
}

.dark-mode .main-social-footer-29 a{
    background:var(--background-dark-mode-lighter);
}

.dark-mode .main-social-footer-29 a:hover{
    background-color: var(--primary-color);
}

.dark-mode .subscribe input{
    background-color: var(--background-dark-mode-lighter);
}